<!DOCTYPE html>
<html lang="en-US">
<body style="background-color: #15D666;">

<style>
  h1 {
    text-align:center;
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: green;
    color:white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



</style>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Naremedy</title>
    
<div class="topnav" id="myTopnav">
  <a href="index.html">Naremedy</a>
</div>


 <div class="tagcloud">
  <a href="#" class="tag-link-1" title="Naremedy" 
   style="font-size: 30pt; color: deeppink;">Depression</a>
 </div>

 <div class="tagcloud">
  <a href="#" class="tag-link-2" title="Naremedy" 
  style="font-size: 20pt; color:darkorange;">Fatigue</a>
  <a href="#" class="tag-link-3" title="Naremedy"
  style="font-size:20pt; color:blue;">Muscle Cramp</a>
</div>

<div class="tagcloud">
  <a href="#" class="tag-link-9" title="Naremedy" 
  style="font-size: 20pt; color:blue;">Allergies</a>
  <a href="#" class="tag-link-10" title="Naremedy" 
  style="font-size: 20pt; color:red;">Bloated</a>
  <a href="#" class-"tag-link-11" title="Naremedy" 
  style="font-size: 20pt; color:cyan;">Metabolism</a>
</div>

<div class="tagcloud">
  <a href="#" class="tag-link-12" title="Naremedy"
  style="font-size:20pt; color:deeppink;">Pain</a>
  <a href="#" class"tag-cloud-13" title="Naremedy"
  style="font-size: 20pt; color:darkorange;">Discomfort</a>
  <a href="#" class-"tag-link-14" title="Naremedy"
  style="font-size:20pt; color:blue;">Muscle Spasm</a>
</div>

<div class="tagcloud">
  <a href="#" class="tag-link-15" title="Naremedy"
  style="font-size:20pt; color:deeppink;">Ear Infection</a>
  <a href="#" class"tag-cloud-16" title="Naremedy"
  style="font-size: 20pt; color:darkorange;">Diarrhea</a>
  <a href="#" href="#" class-"tag-link-17" title="Naremedy"
  style="font-size:20pt; color:blue;">Anxiety</a>
</div>

<div class="tagcloud">
  <a href="#" class="tag-link-18" title="Naremedy"
  style="font-size:20pt; color:deeppink;">Numbness</a>
  <a href="#" class"tag-cloud-19" title="Naremedy"
  style="font-size: 20pt; color:darkorange;">Itching</a>
  <a href="#" class-"tag-link-20" title="Naremedy"
  style="font-size:20pt; color:blue;">Inflammation</a>
</div>

<div class="tagcloud">
  <a href="#" class="tag-link-21" title="Naremedy"
  style="font-size:20pt; color:deeppink;">Sunburn</a>
  <a href="#" class"tag-cloud-22" title="Naremedy"
  style="font-size: 20pt; color:darkorange;">Sore Throat</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-23" title="Naremedy"
   style="font-size:20pt; color:blue;">Headache</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-24" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Baldness</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-25" title="Naremedy"
   style="font-size:20pt; color:red;">Skin Rash</a>
   <a href="#" class="tag-link-26" title="Naremedy"
   style="font-size:20pt; color:cyan;">Eczema</a>
   <a href="#" class="tag-link-27" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Psoriasis</a>
   <a href="#" class="tag-link-28" title="Naremedy"
   style="font-size:20pt; color:darkorange;">Constipation</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-29" title="Naremedy"
   style="font-size:20pt; color:red;">Fever</a>
   <a href="#" class="tag-link-30" title="Naremedy"
   style="font-size:20pt; color:cyan;">Migraine</a>
   <a href="#" class="tag-link-31" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Dizziness</a>
   <a href="#" class="tag-link-32" title="Naremedy"
   style="font-size:20pt; color:darkorange;">Common Cold</a>
   <a href="#" class="tag-link-33" title="Naremedy"
   style="font-size:20pt; color:blue;">Nausea</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-34" title="Naremedy"
   style="font-size:20pt; color:red;">Nasal Congestion</a>
   <a href="#" class="tag-link-35" title="Naremedy"
   style="font-size:20pt; color:cyan;">Flu</a>
   <a href="#" class="tag-link-36" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Dry Skin</a>
   <a href="#" class="tag-link-37" title="Naremedy"
   style="font-size:20pt; color:darkorange;">Insomnia</a>
   <a href="#" class="tag-link-38" title="Naremedy"
   style="font-size:20pt; color:blue;">Acne</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-39" title="Naremedy"
   style="font-size:20pt; color:red;">Menstral Cramps</a>
   <a href="#" class="tag-link-40" title="Naremedy"
   style="font-size:20pt; color:cyan;">Hypertension</a>
   <a href="#" class="tag-link-41" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Losing Weight</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-42" title="Naremedy"
   style="font-size:20pt; color:red;">SKin Irritation</a>
   <a href="#" class="tag-link-43" title="Naremedy"
   style="font-size:20pt; color:cyan;">Histamine</a>
   <a href="#" class="tag-link-44" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Athlete Foot</a>
</div>

<div class="tagcloud">
   <a href="#" class="tag-link-45" title="Naremedy"
   style="font-size:20pt; color:red;">Hives</a>
   <a href="#" class="tag-link-46" title="Naremedy"
   style="font-size:20pt; color:cyan;">Indigestion</a>
   <a href="#" class="tag-link-47" title="Naremedy"
   style="font-size:20pt; color:deeppink;">Heartburn</a>
</div>

</body>
</html>