<!DOCTYPE html>
<html lang="en-US">
<body style="background-color: #15D666;">

<style>
  h1 {
    text-align:center;
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: green;
    color:white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

      

</style>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Naremedy</title>
    
<div class="topnav" id="myTopnav">
  <a href="index.html">Naremedy</a>
</div>
    


      <!--<table border = "0">
      <table border="1" cellspacing="0" cellpadding="0">
     
      
        
<tr>
  <th>Ginger Root</th>
  <th>Lavender</th>
  <th>Dandelion Root</th>
  <th>Pepermint</th>
  </tr>
  <tr>
  <th>
    <th><img src="https://cdn.pixabay.com/photo/2016/10/04/11/29/ginger-1714106_960_720.jpg" width:"100%" height:"100%"  /></td>
  </th>
  <th>
    <img src="https://cdn.pixabay.com/photo/2016/07/01/10/37/lavender-1490788_960_720.jpg" alt ="Lavender" style=width:100%;height:50%;> 
 </th>
  <th>
    <img src="https://sunwarrior.com/uploads/health_hub/article-photos/11-dandelion-main-min.jpg" alt="Dandelion Root" style=width:100%;height:100%;>
  </th>
  <th>
    <img src="https://cdn.pixabay.com/photo/2013/02/18/18/35/mint-83061_960_720.jpg" alt="Peppermint" style=width:75%;height:25%;>
  </th>
</tr>
<tr>
  <th>Nettle Leaf</th>
  <th>Elderberry</th>
  <th>Yarrow</th>
  <th>Chamomile</th>
</tr>
<tr>
  <th>
    <img src="https://cdn.pixabay.com/photo/2013/11/02/08/12/leaves-204375_960_720.jpg" alt="Nettle Leaf" style=width:75%;height:40%;>
  </th>
  <th>
    <img src="https://cdn.pixabay.com/photo/2014/09/01/07/07/elder-432610__340.jpg" alt="Elderberry" style=width:100%;height:75%;>
  </th>
  <th>
    <img src="https://cdn.pixabay.com/photo/2014/01/30/11/30/flower-254867_960_720.jpg" alt="Yarrow" style=width:100%;height:50%;>
  </th>
  <td>
    <img src="https://cdn.pixabay.com/photo/2016/11/19/12/56/bloom-1839140_960_720.jpg" alt="Chamomile" style=width:100%;height:75%;>
  </th>

<tr>
  <th>Cold&Flu</th>
  <th>Migraine</th>
  <th>Pain</th>
  <th>Abdominal Bloating</th>
  </tr>
  
  <tr>
  <th>
    <img src="https://cdn.pixabay.com/photo/2016/10/25/11/03/sniff-1768463__340.jpg" alt="Cold&Flu" style=width:100%;height:100%;>
  </th>
  <th>
    <img src="https://t3.ftcdn.net/jpg/00/54/70/54/240_F_54705468_ht35MNM7eWlwtNEs2GZetBsLCDb0u1nR.jpg" alt="Migraine" style=width:100%;height:100%;>
  </th>
  <th>
    <img src="https://t4.ftcdn.net/jpg/00/91/47/43/240_F_91474360_HAH7nouqf5WDyNBaocKzFlNOxFSsVJyd.jpg" alt="Pain" style=width:100%;height:100%;>
  <th>
    <img src="https://t4.ftcdn.net/jpg/00/66/33/03/240_F_66330399_VA5kB2m8cO01A8DRi61rjeTIsIoHDtWZ.jpg" alt="Abdominal Bloating" style=width:100%;height:100%;>
  </th>
  </tr>
 </table>-->

 <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/12/11/00/240_F_112110096_iqF8PGtreIrd1X32IOYrZD9FAp7z3gVc.jpg" 
        alt="Allergies" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/40/93/69/240_F_140936918_qtj9opbEXqw6B9ZiOoEkprzeTRGNl0OR.jpg" 
        alt="Abdominal Bloating" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/20/51/23/240_F_120512338_vfOOPt4MxRoRFahbszxwD0JstCteL1R6.jpg" 
        alt="Muscle Cramp" style="width:100%; height:300px;" >
  </div>

 </div>
  <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/86/19/55/240_F_86195536_6RBnfJtMCgEuwQKBTKt0ggs1ZTSx57P2.jpg" 
        alt="Fatigue" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/14/85/52/240_F_114855243_C9py0SRO9eGTvuL1XzUbk9P89Tu6rLZu.jpg" 
        alt="Sore Throat" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/77/39/07/240_F_77390771_9MMSQzpaeTll6h9tCS66xKz5FVss1D80.jpg" 
        alt="Pain" style="width:100%; height:300px;" >
  </div>
 </div>

   <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/18/13/36/240_F_118133676_BP5ZCEqPcerCjH5rM5IWyXRX4D6v97TA.jpg" 
        alt="Inflammation" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/40/41/40/240_F_140414066_OH7k6i0bM1qZ4daJtI6m2HN2TfDW1sjG.jpg" 
        alt="Sunburn" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/20/29/89/240_F_120298991_91XvLzgjL4Mg80ixrpoL2BiGuzVphJWg.jpg" 
        alt="Eczema" style="width:100%; height:300px;" >
   </div>
 </div>

   <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/00/77/69/00/240_F_77690083_DjcpCGr2TTglggZLADNKfwortmAuAfgE.jpg" 
        alt="Psoriasis" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/00/86/64/32/240_F_86643294_7aIcVsbNpdEJBAjokm7ppMXrTsBnvqXs.jpg" 
        alt="Constipation" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/19/91/21/240_F_119912157_yINyBwwl8q0dJfGdgfNfeplt6h5AQ63F.jpg" 
        alt="Spasm" style="width:100%; height:300px;" >
   </div>
 </div>

  <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/40/41/17/240_F_140411782_cPujK2Xh9wGKcZQztjAZt4nqQuMg3pIW.jpg" 
        alt="Fever" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/86/01/69/240_F_86016954_nA2CzkjjqIuhSK8GVVLpUcXHN8f4ZQBD.jpg" 
        alt="Migraine" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/40/93/78/240_F_140937881_5UQPAdEjzbgO2RHyOaawGMLmKpSvrZcm.jpg" 
        alt="Ear Infection" style="width:100%; height:300px;" >
   </div>
 </div>

 <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/00/86/64/32/240_F_86643264_dUO9fwBMYwr2pPRpMs4DJzAhFGDg6EkZ.jpg" 
        alt="Common Cold" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/20/58/32/240_F_120583256_myJIgbcPSRaoWFaI5z0nqjQtdQJyLz9x.jpg" 
        alt="Nausea" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/86/92/77/240_F_86927712_nLIaU6gyGPCgWpXIiiaXqHPO50Ung2iK.jpg" 
        alt="Diarrhea" style="width:100%; height:300px;" >
   </div>
 </div>

 <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/86/64/29/240_F_86642927_KhttmHVhlzNI7GQCwSwALQcg8XVns9y3.jpg" 
        alt="Anxiety" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/86/92/77/240_F_86927749_mqM3IQJ9K4u7BLcMmnFAt6DIfkkazKBb.jpg" 
        alt="Flu" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/20/29/90/240_F_120299011_lHT8Jvw52rAmCcd9dvxj4L7t6Fe1T9R4.jpg" 
        alt="Nasal Congestion" style="width:100%; height:300px;" >
   </div>
 </div>

  <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/40/93/67/240_F_140936708_A8kKbKIlZyl19E2GxdhNpgdaC9JqyDGz.jpg" 
        alt="Baldness" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/14/16/33/240_F_114163341_nsT9OOte5bwHL0HywvDj3knGMZbaW249.jpg" 
        alt="Dry Skin" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/20/40/09/240_F_120400980_F1YwnbRik3BS4vqbFApQAOpezTok5ZAB.jpg" 
        alt="Itchy" style="width:100%; height:300px;" >
   </div>
 </div>

 <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/14/15/63/240_F_114156391_9grMJB8FdtSc79RN5GLCPX0n1cDTowpo.jpg" 
        alt="Acne" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/00/87/82/37/240_F_87823700_eprDZRPldy9ZXTQ70AfasFxNtocucXr6.jpg" 
        alt="Depression" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/00/86/35/22/240_F_86352205_V07WVMGMr29XLPgVeDoCuH9ccUnr3fkP.jpg" 
        alt="Insomnia" style="width:100%; height:300px;" >
   </div>
 </div>

 <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/40/93/66/240_F_140936632_26TM8A6Ddcudcv2dNMDoSToKSu7x1Auu.jpg" 
        alt="Athlete Foot" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/40/71/72/240_F_140717271_iEYQP5olZudFZnZDFxH9yPfwUHn5eY0D.jpg" 
        alt="Menstrual Cramps" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/00/86/01/68/240_F_86016861_JmpfyHqwSzdSiWcNkdTwfbJazfKdxGf7.jpg" 
        alt="Hypertension" style="width:100%; height:300px;" >
   </div>
 </div>

 <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/00/97/68/46/240_F_97684651_phE8AADIEF4iTOShMoT5mxkRPJU5h1rM.jpg" 
        alt="Losing Weight" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/18/13/36/240_F_118133670_viwFNMbxdCBrv31mHmYhLsqyc9vUMQU7.jpg" 
        alt="Hives" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/40/93/85/240_F_140938556_Vcz4njho7drHpGUPlIctQBrQfo02K6Ug.jpg" 
        alt="Histamine" style="width:100%; height:300px;" >
   </div>
 </div>

  <div class="row">
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/40/41/26/240_F_140412662_57d7UY8rL4c1g2GTzyORSDRv4wHa9Xh4.jpg" 
        alt="Metabolism" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t3.ftcdn.net/jpg/01/31/50/66/240_F_131506628_0w0C21spAL4a4mpBkO0xeey0jCeFkoka.jpg" 
        alt="Indigestion" style="width:100%; height:300px;">
  </div>
  <div style="width:33%;float:left">
        <img src="https://t4.ftcdn.net/jpg/01/40/41/21/240_F_140412134_zOhLm811qmK0lEL8V66th1mJwbpg9PCz.jpg" 
        alt="Heartburn" style="width:100%; height:300px;" >
   </div>
 </div>

</body>
</html>